<div class="container">
    <h1>All Classes</h1>

    <p>
      Download:
      <%= link_to "CSV", offerings_path(format: "csv") %>
    </p>

    <table class="table table-striped datatable display responsive no-wrap"  width="100%">
      <thead>
          <tr>
            <th>Status</th>
            <th>Camp</th>
            <th>Location</th>
            <th>Teacher</th>
            <th>Assistant</th>
            <th>Camp Time</th>
            <th>Week</th>
            <th>Start Date</th>
            <th>Year</th>
            <th>Open Spots</th>
            <th></th>
            <th></th>
          </tr>
      </thead>
        <tbody>
            <% @offerings.each do |offering| %>
              <tr>
                <td class="offeringtered">
                    <%=
                        offering.at_capacity? ? "<span class='label label-danger'>Full</span>".html_safe : "<span class='label label-success'>Open</span>".html_safe if offering
                    %>
                </td>
                <td><%= offering.name %></td>
                <td><%= offering.location.name  if offering.location %></td>
                <td><%= offering.teacher %></td>
                <td><%= offering.assistant %></td>
                <td><%= offering.time %></td>
                <td><%= offering.week %></td>
                <td><%= CampOffering::OFFERING_WEEKS[offering.week][:start].strftime("%b %d") %></td>
                <td><%= CampOffering::YEARS[offering.year] %></td>
                <td><%= offering.open_spots %></td>
                <td><%= link_to 'Show', offering %></td>
                <td><%= link_to 'Edit', edit_offering_path(offering) %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
    <div class="row mt-5">
      <div class="col-md-5">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title"> Import Classes</h3>
            <%= form_tag import_offerings_path, multipart: true do %>
              <%= file_field_tag :file %><br />
              <%= submit_tag "Import", class: 'btn btn-sm btn-white mt-4' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to 'New Camp offering', new_offering_path, class: 'btn btn-lg btn-green mt-5' %>
</div>
